.grid {
  display: grid;
  width: 100%;
  max-width: 800px;
  /* gap: 2px; */
  margin: 0 auto;
  /* gap: 5px; */
}

.row {
  display: flex;
  /* gap: 2px; */
}

.cell {
  background-color: #000;
  border: 2px solid #333232;
  padding: 10px;
}

.out-box {
  border: 10px solid #333232;
  display: inline-block;
  margin-top: 49px;
}


.controls {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.controls label {
  font-size: 14px;
  font-weight: bold;
  background-color: #a0d4fa;
  border-radius: 5px;
  padding: 6px;
}

.controls input[type="number"] {
  margin-left: 13px;
  width: 50px;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  border: none;
}

.grid-input{
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .controls {
    justify-content: space-between;
  }

  
  .controls input[type="number"] {
    width: 80px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  
  .controls input[type="number"] {
    width: 100px;
  }

  .grid {
    max-width: 1200px;
  }
}

@media (max-width: 500px) {
  .cell{
      padding: 4px;
  }
}